/* Small devices (tablets, 768px and up) */
@media (max-width: 480px) {

	h1{
		font-size: 25px;
	}

	h2{
		font-size: 20px;
	}

	p{
		font-size: 12px;
	}

	.logo{
		width: 100%;
		padding: 0;
	}

	.logo img{
		width: 55px;
		padding-top: 18px;
	}

	.scroll-down{
		display: none;
	}

	#nav-toggle{
		left: 0px;
		top:20px;
	}

	#side-nav{
		width: 440px;
		height: 220%;
	}
	
	#side-nav ul li{
		width: 91%;
		padding: 20px 0;
	}

	#menu-main_menu {
	    top: 14px;
	    left: -64%;
	}

	#side-nav .dropdown-menu{
		width: 100%;
		padding-left: 20%;
	}

	#side-nav .dropdown-menu li a{
		margin-left: -65px;
	}

	#menu-main_menu .caret{
		right: 30px;
	}

	.content-caption-box .inner{
		left: 40px !important;
	}

	.content-caption-box .inner h2{
		font-size: 20px;
	}

	.content-caption-box .outer img{
		width: 100% !important;
	}

	.content-caption-box .inner h1{
		font-size: 25px;
	}

	.banner-sec .banner img{
		height: 240px;
	}

	.banner-caption-box{
		bottom: -138px;
		padding-left: 15px;
	}

	.banner-caption-box .inner{
		width: 210px;
		top: -71px;
	}

	.banner-caption-box .outer{
		width: 70%;
	}

	.banner-caption-box .inner h2{
		font-size: 12px;
		margin-top: 5px;
	}

	.banner-caption-box .inner h3{
		font-size: 12px;
	}

	.content-caption-box {
		padding: 30px 0px;
	}

	.home .section-1 .content-caption-box .outer img{
		height: 240px;
	}

	.home .section-1 .page-content{
		padding: 0px 50px 50px 50px;
	}

	.home .section-2 .content-caption-box .outer img{
		height: 240px;
	}

	.home .section-2 .page-content {
	    padding-left: 50px;
	    padding-right: 50px;
	    padding-bottom: 50px;
	}

	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev {
	    margin-top: -55px;
	}

	.home .section-2 .s2 .swiper-button-prev{
		left: 21%;
	}

	.home .section-2 .s2 .swiper-button-next{
		right: 21%;
	}

	#home-img-space{
		padding-top: 10px;
	}

	.banner-sec .banner .banner-caption{
		width: 100%;
		padding: 0 15px;
	}

	.about-us-page .section-2 .content-1 {
	    padding: 0 8px 0px 50px;
	}

	.about-us-page .section-4 .content-wrapper {
	    padding: 40px 15px;
	}

	.about-us-page .section-4 .details-sec .details {
	    padding: 20px 50px;
	}

	.about-us-page .section-4 .title{
		padding: 0 50px;
	}

	.other-initiatives-page .section-3 .content-sec{
		padding: 0px 50px 0px 50px;
	}

	.set-img-padding-left{
		padding: 5px 0;
	}

	.set-img-padding-right{
		padding: 5px 0;
	}

	.other-initiatives-page .section-4 .content-sec {
	    padding: 15px 50px;
	}

	.other-initiatives-page .section-2 .content-1{
		padding: 15px 50px;
	}

	.social-cohesion-page .section-2 .content-sec {
	    padding: 0px 50px;
	}

	.social-cohesion-page .section-2 .video-sec {
	    padding: 50px 50px;
	}

	.social-cohesion-page .section-2 .video-sec .swiper-button-prev{
		left: 20%;
	}

	.social-cohesion-page .section-2 .video-sec .swiper-button-next{
		right: 20%;
	}

	.social-cohesion-page .section-3 .content-sec-1 {
	    padding: 80px 50px 25px 50px;
	}

	.social-cohesion-page .section-3 .content-sec-2 {
	    padding: 0 50px;
	}

	.social-cohesion-page .section-3 .content-sec-2 .content-wrapper {
		padding: 0 0px 45px 0px;
	}

	.social-cohesion-page .section-4 .content-sec .img-sec img{
		width: 90%;
	}

	.social-cohesion-page .section-4 .content-sec{
		line-height: normal;
	}

	.social-cohesion-page .section-5 .img-sec .img-description h1{
		font-size: 20px;
	}

	.social-cohesion-page .section-5 .img-sec .img-description {
	    position: absolute;
	    left: 0;
	    top: 0;
	}

	.social-cohesion-page .section-5 .img-sec .img-description p{
		line-height: normal;
	}

	.social-cohesion-page .section-6 .advisers {
	    padding: 10px 0px 40px 0px;
	}

	.social-cohesion-page .section-8 .gallery-sec{
		padding: 0 50px;
	}

	.social-cohesion-page .section-8 .lSAction > a{
		top: 170%;
	}

	.social-cohesion-page .section-7 .featured-article-sec {
	    padding: 0px 25px 30px 50px;
	}

	.social-cohesion-page .section-7 .featured-article-sec-wrapper {
	    line-height: 85px;
	}

	.social-cohesion-page .section-7 .archive-btn{
		padding-left: 25%;
	}
	.banner-sec .banner .banner-caption h1 {
	    font-size: 16px;
	}
	.banner-sec .banner .banner-caption p {
	    line-height: 19px;
	}
	.arrow{
		display: none;
	}
	.social-cohesion-page .section-5 .img-sec img{
		height: 200px;
	}
}

/*IPHONE 5*/
@media (max-width: 320px) {
	
	#side-nav{
		height: 250%;
		width: 390px;
	}
	
	.scroll-down{
		display: none;
	}

	#nav-toggle{
		left: 0px;
		top:20px;
		width: 25px;
	}

	.set-nav-color-default span{
		left: 10px;
	}

	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev {
	    margin-top: -50px;
	}

	.home .section-2 .s2 .swiper-button-next {
		right: 25%;
	}

	.home .section-2 .s2 .swiper-button-prev {
		left: 25%;
	}

	.social-cohesion-page .section-3 .content-sec-2 .content-wrapper {
		padding: 0 0px 45px 0px;
	}

	#side-nav ul li {
		width: 78%;
	}

	.arrow{
		display: none;
	}

	.banner-sec .banner img{
		height: 240px;
	}

	.social-cohesion-page .section-5 .img-sec img{
		height: 200px;
	}
}