@media (min-width: 1024px) {

}
@media (min-width: 1280px) and (max-width: 1400px) {

}
@media (min-width: 1400px) and (max-width: 1600px) {

}
@media (min-width: 1600px) and (max-width: 2000px) {


}