@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {

	#side-nav{
		height: 110%;
	}
	
	.scroll-down{
		display: none;
	}

	.banner-caption-box .outer {
		width: 40%;
	}

	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev {
		margin-top: -42px;
	}

	.home .section-2 .s2 .swiper-button-next {
		right: 30%;
	}

	.home .section-2 .s2 .swiper-button-prev {
		left: 60%;
	}

}
@media(min-width:768px) and (max-height: 1024px) and (orientation:portrait){

	#side-nav{
		height: 150%;
	}

	.scroll-down{
		display: none;
	}

	.banner-caption-box{
		bottom: -155px;
	}

	.content-caption-box .inner{
		top: 44px;
	}

	.banner-caption-box .outer img{
		width: 150%;
	}

	.content-caption-box .inner h1{
		font-size: 32px;
	}

	.content-caption-box .inner h2{
		font-size: 25px;
	}

	.home .section-1 .content-caption-box .outer img{
		width: 80%;
	}

	.home .section-1 .page-content{
		padding: 0px 50px 50px 60px;
	}

	.home .section-2 .page-content{
		padding: 0 0px 75px 75px;
	}

	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev {
		margin-top: -62px;
	}

	.home .section-2 .s2 .swiper-button-prev{
		left: 46%;
	}

	.home .section-2 .s2 .swiper-button-next{
		right: 40%;
	}

	.about-us-page .section-2 .content-1{
		padding: 0 8px 0px 30px;
	}

	.about-us-page .section-3 .content-sec {
	    padding: 10px 15px;
	}

	.about-us-page .section-4 .content-wrapper {
	    padding: 40px 0px;
	}

	.about-us-page .section-4 .details-sec .details {
	    padding: 20px 40px;
	}

	.about-us-page .section-4 .title{
		padding: 0 40px;
	}

	.about-us-page .section-4 .details-sec .details p {
	    height: 260px;
	}

	.other-initiatives-page .section-3 .content-sec{
		padding: 0px 45px 0px 50px;
	}

	.other-initiatives-page .section-2 .content-1{
		padding: 0 20px;
	}

	.esufally-scholarship-fund-page .section-3 .trustees {
	    padding: 0px 25px 35px 25px;
	}

	.social-cohesion-page .section-2 .content-sec{
		padding: 0px 90px;
	}

	.social-cohesion-page .section-2 .video-sec{
		padding: 50px 90px;
	}

	.social-cohesion-page .section-3 .content-sec-1{
		padding: 80px 90px 25px 90px;
	}

	.social-cohesion-page .section-3 .content-sec-2{
		    padding: 0 90px;
	}

	.social-cohesion-page .section-3 .content-sec-2 .content-wrapper {
		padding: 0 30px 0px 0px;
		height: 360px;
	}

	.social-cohesion-page .section-3 .content-sec-2 .description {
		height: 300px;
	}

	.social-cohesion-page .section-4 .content-sec .img-sec img{
		width: 100%;
	}

	.social-cohesion-page .section-5 .img-sec .img-description h1{
		font-size: 25px;
	}

	.social-cohesion-page .section-5 .img-sec .img-description p{
		line-height: 23px;
	}

	.social-cohesion-page .section-6 .advisers{
		padding: 0px 40px 40px 30px;
	}

	.social-cohesion-page .section-7 .featured-article-sec-wrapper {
	    line-height: 120px;
	}

	.social-cohesion-page .section-7 .featured-article-sec {
	    padding: 0px 25px 0px 70px;
	}

	.social-cohesion-page .section-7 .archive-btn{
		padding-left: 70px;
	}

	.social-cohesion-page .section-8 .gallery-sec{
		padding: 0 90px;
	}
	
}

@media(min-width:1024px) and (max-height: 1366px) and (orientation:portrait){
	#side-nav{
		height: 110%;
	}
	.banner-caption-box .outer {
		width: 40%;
	}
	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev {
		margin-top: -46px;
	}

	.home .section-2 .s2 .swiper-button-next {
		right: 30%;
	}

	.home .section-2 .s2 .swiper-button-prev {
		left: 60%;
	}

	.social-cohesion-page .section-3 .content-sec-2 .content-wrapper {
		padding: 0 30px 0px 0px;
		height: 360px;
	}

	.social-cohesion-page .section-3 .content-sec-2 .description {
		height: 260px;
	}
}