@media (min-width: 480px) and (max-width: 767px) {
    .logo{
		width: 100%;
		padding: 0;
	}

	.logo img{
		width: 55px;
	}
	
	.banner-sec .banner .banner-caption {
		bottom: -40px;
	}

	#side-nav{
		height: 180%;
	}

	#side-nav .dropdown-menu {
		width: 152%;
		margin-left: -45px;
	}
	  
  	.scroll-down{
		display: none;
	}

	#home-img-space{
		padding-top: 10px;
	}

	.banner-caption-box{
		bottom: -37px;
	}

	.banner-caption-box .inner{
		width: 210px;
		top: -85px;
	}

	.banner-caption-box .outer{
		width: 70%;
	}

	.content-caption-box .inner h1 {
		font-size: 25px;
	}

	.banner-caption-box .inner h2{
		font-size: 12px;
		margin-top: 5px;
	}

	.banner-caption-box .inner h3{
		font-size: 12px;
	}

	.social-cohesion-page .section-2 .content-sec {
		padding: 0px 50px;
	}

	.social-cohesion-page .section-3 .content-sec-1 {
		padding: 80px 50px 25px 50px;
	}
	.social-cohesion-page .section-3 .content-sec-2 {
		padding: 0 50px;
	}

	.social-cohesion-page .section-3 .content-sec-2 .description {
		height: 150px;
	}

	.social-cohesion-page .section-4 .content-sec .description {
		padding-right: 50px;
		padding-left: 50px;
	}

	.social-cohesion-page .section-6 .advisers {
		padding: 0px 40px 40px 40px;
	}

	.social-cohesion-page .section-8 .lSAction > a {
		top: 160%;
	}

	.arrow{
		display: none;
	}

	.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev{
		margin-top:-43px;
	}

	.home .section-2 .s2 .swiper-button-next{
		right: 25%;
	}

	.home .section-2 .s2 .swiper-button-prev{
		left: 50%;
	}

}