/*------------------ Fonts -------------------------*/
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../fonts/montserrat/Montserrat-ExtraLight.ttf) ;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf) ;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf) ;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf) ;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf) ;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/montserrat/Montserrat-Light.ttf) ;
}

/*------------------- Fonts End --------------------*/

/* Common Classes */

.no-padding{

	padding: 0;

}

p{

  font-family: Montserrat-Regular;

  color: #5d5d5d;

  line-height: 28px;

}

h2{

  font-family: Montserrat-Medium;

}

a:hover{
  text-decoration: none;
}

.banner-sec .banner img{
  width: 100%;
  object-fit:cover;
}

.banner-sec .banner .banner-caption{

  position: absolute;

  right: 0;

  bottom: 0;

  width: 600px;

  padding: 75px;

  text-align: right;

}

.banner-sec .banner .banner-caption h1{

  font-family: Montserrat-Bold;

  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  font-size: 70px;

}

.banner-sec .banner .banner-caption p{

  font-family: Montserrat-Medium;
  line-height: 1.5;
  color: #ffffff;

}
.scroll-down{
  position: absolute;
  z-index: 999;
  width: 100%;
  bottom: 90px;
  text-align: center;
}
.scroll-down a {
  padding-top: 60px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat-Regular;

}
.scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/***** Caption Box Style *****/

.content-caption-box{
  padding: 60px 0px;
}

.content-caption-box .inner{
  position: absolute;
  top: 24px;
  left: 60px;
}

.content-caption-box .outer img{
  height: 310px;
  width: 60%;
}

.content-caption-box .inner h1{
  font-family: Montserrat-Bold;
  font-size: 52px;
  color: #5d5d5d;
  text-transform: uppercase;
}

.content-caption-box .inner h2{
  font-size: 32px;
  text-transform: uppercase;
}

.content-caption-box .inner hr{
  border: none;
  height: 2px;
}

/***** Caption Box Style End *****/

/* Common Classes End*/

.swiper-slide img{

	width: 100%;

}

#wrap {

  position: absolute;

}

.navbar-nav>li{

	float: none;

}

#side-nav .open .dropdown-toggle{
  color: #5c812c;
}

.dropdown-menu li.active a{
  color: #ffffff !important;
}

/* nav-toggle */
#nav-toggle {
  top: 58px;
  left: 50px;
  width: 30px;
  height: 27px;
  cursor: pointer;
  z-index: 99999;
  position: absolute;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  border-radius: 15px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

.set-nav-color-blue span{
  background: #071689;
}

.set-nav-color-default span{
  background: #ffffff;
}

/* nav-toggle animation */
.nav-open #nav-toggle span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
.nav-open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}
.nav-open #nav-toggle span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}


/* side-nav */
#side-nav {
  color: #fff;
  background: #000000;
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 100%; 
  left: -580px;
  top: 0;
  padding: 20px;
}

#side-nav ul {
  list-style: none;
  text-align: center;
  padding-bottom: 130px;
}

#side-nav ul main-nav-titles {
  padding: 10px;
}
#side-nav a {
  color: #fff;
  text-decoration: none;
}
#menu-main_menu {
  position: relative;
  top: 120px;
  left: -75%;
}

#side-nav .dropdown-menu{

	left: 97%;
	background-color: #2c2b2b;
	opacity: 0.9;
  width: 80%;
  padding-bottom: 45px;
  top: 0;
}

#side-nav .dropdown-menu li{
  padding: 30px 10px;
}

#side-nav ul li.active a{

	color: #5c812c;

}

#side-nav ul li{

	padding: 15px 90px;

}

#side-nav ul li a {

	background-color: transparent;
	font-family: Montserrat-Regular;
	text-transform: uppercase;

}

#side-nav ul li a:hover {

	background-color: transparent;
	color: #5c812c;

}

/* side-nav End*/

/*article-side-bar*/

.article-side-bar ul{
  padding: 0;
  list-style: none;
}

.article-side-bar ul li a{
  font-family: Montserrat-Regular;
  color: #5d5d5d;
  font-size: 12px;
}

.article-side-bar ul .year-name{
  font-family: Montserrat-Medium;
  color: #071689;
  font-size: 14px;
  padding: 15px 0;
}

/*article-side-bar end*/

.logo{

	text-align: center;
	position: absolute;
	z-index: 2;
	padding-top: 30px;
}

.banner-slider{

	position: relative;

}

.banner-caption-box{

	position: absolute;
	z-index: 1;
	bottom: 0;
	padding-left: 57px;

}

.banner-caption-box .outer{

	width: 30%;

}

.banner-caption-box .outer img{

  width: 83%;

}

.banner-caption-box .inner{

	width: 485px;
	position: relative;
	top: -136px;
	color: #ffffff;
	padding-left: 20px;
	padding-bottom: 80px;

}

.banner-caption-box .inner h2{

	font-family: Montserrat-ExtraLight;
	font-size: 27px;	

}

.banner-caption-box .inner h3{

	font-family: Montserrat-ExtraLight;
	font-size: 19px;	

}

#menu-main_menu .caret{

  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: -35px;

}

#menu-main_menu .caret:before{

  content:"\e080";

}


/**********************inedex Page***************************/

.home .section-1 .img-sec img{

  width: 100%;

}

.home .section-1 .page-content{

  padding: 0px 50px 50px 130px;

}

.home .section-1 .page-content .read-more{

  color: #f49500;

}

.home .section-2{

  background-color: #f5f5fa;

}

.home .section-2 .page-content{

  padding: 0px 86px;

}

.home .section-2 .page-content .read-more{

  color: #1b28a5;

}

.home .section-2 .s2 .swiper-button-prev{

  background-image: url('../images/swiper-pre-btn.png');

  width: 37px;

  height: 37px;

  background-size: auto;

  left: 42%;

}

.home .section-2 .s2 .swiper-button-next{

  background-image: url('../images/swiper-next-btn.png');

  width: 37px;

  height: 37px;

  background-size: auto;

  right: 50%;

}

.home-bottom-button{
  display: block;
}

.home .section-2 .s2 .swiper-button-next, .home .section-2 .s2 .swiper-button-prev{

  text-align: center;
  margin-top: -75px;

}

.home .section-1 .content-caption-box .inner h2{
  color: #f49500;
}

.home .section-1 .content-caption-box .inner hr{
  /* Set the hr color */
  color: #f49500; /* old IE */
  background-color: #f49500; /* Modern Browsers */
}

.home .section-1 .content-caption-box .outer img{
  height: 318px;
  width: 60%;
}

.home .section-2 .content-caption-box .inner h2{
  color: #1b28a5;
}

.home .section-2 .content-caption-box .inner hr{
  /* Set the hr color */
  color: #1b28a5; /* old IE */
  background-color: #1b28a5; /* Modern Browsers */
}

.home .section-2 .content-caption-box .outer img{
  height: 318px;
  width: 60%;
}

/**********************inedex Page end***************************/

/****************** Articles Page *****************/

.artical-archive-all .article-pagination a{
  color: #5d5d5d;
  text-transform: uppercase;
  font-size: 13px;
}

.artical-archive-all .article-pagination a:hover{
  text-decoration: none;
}

.artical-archive-all .article-pagination{
  text-align: center;
  padding-top: 20px;
  line-height: 60px;
}

.artical-archive-all .article-pagination .prev{

  float: left;

}

.artical-archive-all .article-pagination .next{

  float: right;

}

.artical-archive-all .logo-sec-container{
  border-bottom: 1px solid #d7d7d7;
  padding: 40px 15px;
}

.artical-archive-all .article-pagination .page-numbers.current{
  color: #77bc1f;
  font-size: 13px;
}

.artical-archive-all .logo-sec{
  text-align: center;
}

.artical-archive-all .article-sidebar-wrapper{
  border-right: 2px solid #d7d7d7;
  margin-top: 25px;
}

.artical-archive-all .article-pagination .gal-slider-pre-text{
  display: inline-block;
}

.artical-archive-all .article-pagination .gal-slider-next-text{
  display: inline-block;
  margin-right: 5px;
}

.artical-archive-all .all-articales .article-heading h2{
  color: #071689;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.artical-archive-all .all-articales .article-date p{
  font-family: Montserrat-Light;
  font-size: 12px;
}

.artical-archive-all .all-articales .full-article{
  padding-left: 0;
  padding-right: 24px;
}

.artical-archive-all .all-articales .full-article .read-more a{
  color: #949292;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}

.artical-archive-all .all-articales .full-article .read-more hr{
  margin-top: 40px;
  margin-bottom: 40px;
}


/****************** Articles Page End *****************/


/****************** artical-inner-pages *****************/

.artical-inner-pages .article-pagination a{
  color: #5d5d5d;
  text-transform: uppercase;
  font-size: 10px;
}

.artical-inner-pages .article-pagination a:hover{
  text-decoration: none;
}

.artical-inner-pages .article-pagination{
  text-align: center;
  padding-top: 20px;
  line-height: 60px;
}

.artical-inner-pages .article-pagination .prev{

  float: left;

}

.artical-inner-pages .article-pagination .next{

  float: right;

}

.artical-inner-pages .logo-sec-container{
  border-bottom: 1px solid #d7d7d7;
  padding: 40px 15px;
}

.artical-inner-pages .article-pagination .page-numbers.current{
  color: #77bc1f;
  font-size: 10px;
}

.artical-inner-pages .logo-sec{
  text-align: center;
}

.artical-inner-pages .article-sidebar-wrapper{
  border-right: 2px solid #d7d7d7;
  margin-top: 25px;
}

.artical-inner-pages .article-pagination .gal-slider-pre-text{
  display: inline-block;
}

.artical-inner-pages .article-pagination .gal-slider-next-text{
  display: inline-block;
  margin-right: 5px;
}

.artical-inner-pages .all-articales .article-heading h2{
  color: #071689;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.artical-inner-pages .all-articales .article-date p{
  font-family: Montserrat-Light;
  font-size: 12px;
}

.artical-inner-pages .all-articales .full-article{
  padding-left: 0;
  padding-right: 24px;
}

.artical-inner-pages .all-articales .full-article .read-more a{
  color: #949292;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}

.artical-inner-pages .all-articales .full-article .read-more hr{
  margin-top: 40px;
  margin-bottom: 40px;
}

.artical-inner-pages .article-inner-back-btn{
  padding-top: 10px;
}

.artical-inner-pages .article-side-bar .active a{
  color: #77bc1f;
}

/****************** artical-inner-pages End *****************/

/****************** About Us Page *****************/

.about-us-page .banner-sec .banner{

    position: relative;

}

.about-us-page .section-2 .sec-img img{

  width: 100%;

}

.about-us-page .section-2 .content-1{

  padding: 0 8px 0px 90px;

}

.about-us-page .section-2 .content-1 h2{

  color: #f7b345;
  margin-top: 0;

}

.content-caption-box .outer img{
  height: 275px;
  width: 49%;
}

.about-us-page .section-2 .content-caption-box .inner{
  top: 68px;
  left: 80px;
}

.about-us-page .section-2 .content-caption-box .inner hr{
  color: #f49500;
  background-color: #f49500;
}

.about-us-page .section-3{

  background-color: #f6f6f6;

}

.about-us-page .section-3 .sec-img img{

  width: 100%

}

.about-us-page .section-3 .content-sec{

  padding: 60px 50px;

}

.about-us-page .section-3 .content-1 h2{

    color: #1b28a5;

    text-transform: uppercase;

}

.about-us-page .section-3 .content-2 h2{

    color: #77bc1f;

    text-transform: uppercase;

}

.about-us-page .section-4 .content-wrapper{

  padding: 40px 77px;

}

.about-us-page .section-4 .details-sec .details{

  padding: 20px 69px;

}

.about-us-page .section-4 .title{

  font-family: Montserrat-Medium;

  color: #ff0042;

  padding: 0 69px;

}

.about-us-page .section-4 .details-sec .details h3{

  font-family: Montserrat-Medium;

  font-size: 14px;

  color: #5d5d5d;

}

.about-us-page .section-4 .details-sec .details p{

  height: 200px;

}

.about-us-page .section-4 .details-sec .details hr{

  border: none;

  height: 1px;

  /* Set the hr color */
  color: #e4e4e4; /* old IE */

  background-color: #e4e4e4; /* Modern Browsers */


}


/****************** About Us Page End *****************/


/****************** Other Initiatives Page *****************/

.other-initiatives-page .section-2 .content-caption-box .outer img{
  height: 200px;
  width: 45%;
}

.other-initiatives-page .section-2 .content-caption-box .inner hr{
  color: #77bc1f;
  background-color: #77bc1f;
}

.other-initiatives-page .section-2 .content-caption-box .inner{
  top: 40px;
  left: 110px;
}

.other-initiatives-page .section-2 .sec-img img{

  width: 100%;

}

.other-initiatives-page .section-3 .content-caption-box .inner hr{
  color: #272ca4;
  background-color: #272ca4;
}

.other-initiatives-page .section-3 .content-caption-box .inner{
  top: 48px;
  left: 110px;
}

.other-initiatives-page .section-4 .content-caption-box .inner hr{
  color: #ff8400;
  background-color: #ff8400;
}

.other-initiatives-page .section-4 .content-caption-box .inner{
  top: 48px;
  left: 110px;
}

.other-initiatives-page .section-2 .content-1{

  padding: 0 50px;

}

.other-initiatives-page .section-2 .content-1 .content-para-2 h3{

  font-size: 14px;

  font-family: Montserrat-SemiBold;

  color: #77bc1f;

}

.other-initiatives-page .section-2 .content-1 .content-para-3 h3{

  font-size: 14px;

  /* font-family: Montserrat-Bold; */

  font-family: Montserrat-SemiBold;

  color: #77bc1f;

}

.other-initiatives-page .section-2 .content-1 .content-para-3 p{

   /*font-family: Montserrat-SemiBold;*/

}

.other-initiatives-page .section-3 .imglist img{

  width: 100%;

}

.other-initiatives-page .section-3 .imglist .main-img img{

  object-fit: cover; 

  height: 499px;

}

.other-initiatives-page .section-3 .imglist .all-imgs img{

  object-fit: cover; 

  height: 253px;

}

.set-img-padding-left{

  padding: 20px 10px 0px 0;

}

.set-img-padding-right{

  padding: 20px 0px 0px 10px;

}

.other-initiatives-page .section-3 .content-sec{

  padding: 0px 45px 0px 145px;

}

.other-initiatives-page .section-4 .sec-img img{

  width: 100%;

}

.other-initiatives-page .section-4 .content-sec{

  padding: 0 60px;

}

/****************** Other Initiatives Page End *****************/

/****************** Esufally Scholarship Fund Page *****************/

.esufally-scholarship-fund-page .section-2 .content-sec {

  padding: 0px 65px 0px 68px;

}

.esufally-scholarship-fund-page .section-2 .img-sec img{

  width: 100%;

}

.text.short {        
    overflow: hidden;
}
.text.full {
    display: none;
}

.esufally-scholarship-fund-page .section-2 .content-caption-box .inner hr{
  color: #272ca4;
  background-color: #272ca4;
}

.esufally-scholarship-fund-page .section-2 .content-caption-box .outer img{
  height: 200px;
}

.esufally-scholarship-fund-page .section-3 .trustees{

  padding: 0px 40px 40px 65px;

}

.esufally-scholarship-fund-page .section-3 .trustees .text p{
  font-size: 12px;
}

.esufally-scholarship-fund-page .section-3 .trustees .trustees-title p{

    font-family: Montserrat-Medium;

    color: #77bc1f;

}

.esufally-scholarship-fund-page .section-3 .trustees .read-more{

    cursor: pointer;

}

.esufally-scholarship-fund-page .section-3 .trustees .read-more hr{

  margin-top: 15px;

  margin-bottom: 10px;

}

.esufally-scholarship-fund-page .section-3 .trustees .read-more img{

    float: right;

    padding: 5px;
}

.esufally-scholarship-fund-page .section-3 .trustees .read-more p{

    float: left;

    text-transform: uppercase;

    font-size: 10px;

}

.esufally-scholarship-fund-page .section-3 .content-caption-box .inner hr{
  color: #77bc1f;
  background-color: #77bc1f;
}

.esufally-scholarship-fund-page .section-3 .content-caption-box .outer img{
  height: 200px;
}


/****************** Esufally Scholarship Fund End *****************/

/****************** social cohesion page *****************/

.social-cohesion-page .content-caption-box .outer img{
  height: 170px;
  width: 36%;
}

.social-cohesion-page .section-2 .content-caption-box .inner hr{
  color: #f49500;
  background-color: #f49500;
}

.social-cohesion-page .section-4 .content-caption-box .inner hr{
  color: #8b2e81;
  background-color: #8b2e81;
}

.social-cohesion-page .section-6 .content-caption-box .inner hr{
  color: #77bc1f;
  background-color: #77bc1f;
}

.social-cohesion-page .section-7 .content-caption-box .inner hr{
  color: #2733cf;
  background-color: #2733cf;
}

.social-cohesion-page .section-8 .content-caption-box .inner hr{
  color: #77bc1f;
  background-color: #77bc1f;
}

.social-cohesion-page .section-2 .content-sec{

  padding: 0px 150px;

}

.social-cohesion-page .section-2 .video-sec{

  padding: 50px 150px;

}

.swiper-button-next, .swiper-button-prev{

  background-size: 19px 19px;

  top: 97%;

  height: 38px;

}

.social-cohesion-page .section-2 .video-sec .swiper-button-next{
  background-image: url('../images/slider-next.png');
  right: 45%;
}

.social-cohesion-page .section-2 .video-sec .swiper-button-prev{
  background-image: url('../images/slider-pre.png');
  left: 45%;
}

.social-cohesion-page .section-2 .video-sec .swiper-pagination{
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  bottom: 20px;
}

.social-cohesion-page .section-2 .video-sec .swiper-pagination-clickable .swiper-pagination-bullet{
  margin: 1px;
  background-color: #77bc1f;
}

.social-cohesion-page .section-2 .video-sec .swiper-pagination-bullet-active{
  background-color: #6771d2 !important;
}

.social-cohesion-page .section-3 .content-sec-1{
    padding: 80px 150px 25px 150px;
}

.social-cohesion-page .section-3 .content-sec-1 h2{
  color: #f49500;
}

.social-cohesion-page .section-3 .content-sec-2{
  padding: 0 150px;
}

.social-cohesion-page .section-3 .content-sec-2 .title{
  padding: 0;
}

.social-cohesion-page .section-3 .content-sec-2 .description{
  padding: 0;
  height: 200px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.social-cohesion-page .section-3 .content-sec-2 h2{
  font-size: 14px;
}

.social-cohesion-page .section-3 .content-sec-2 p{
      margin-top: 10px;
}

.social-cohesion-page .section-3 .content-sec-2 .content-wrapper{
  padding: 0 90px 45px 0px;
}

.social-cohesion-page .section-4 .content-sec .img-sec{
  text-align: center;
}
.social-cohesion-page .section-4 .content-sec .description{
  padding-bottom: 70px;
}
.social-cohesion-page .section-4 .content-sec{
  line-height: 365px;
}

.social-cohesion-page .section-5 .img-sec{
  padding: 0;
}

.social-cohesion-page .section-5 .img-sec img{
  width: 100%;
  object-fit:cover;
}

.social-cohesion-page .section-5 .img-sec .img-description{
  position: absolute;
  left: 55px;
  top: 20px;
}

.social-cohesion-page .section-5 .img-sec .img-description h1{
  font-family: Montserrat-SemiBold;
  color: #529f39;
  text-transform: uppercase;
  font-size: 45px;
}

.social-cohesion-page .section-5 .img-sec .img-description p{
  font-family: Montserrat-SemiBold;
}

.social-cohesion-page .section-6 .advisers{

  padding: 0px 40px 40px 100px;

}

.social-cohesion-page .section-6 .advisers .text p{
  font-size: 12px;
}

.social-cohesion-page .section-6 .advisers .advisers-title p{

    font-family: Montserrat-Medium;

    color: #77bc1f;

}

.social-cohesion-page .section-6 .advisers .read-more{

    cursor: pointer;

}

.social-cohesion-page .section-6 .advisers .read-more hr{

  margin-top: 15px;

  margin-bottom: 10px;

}

.social-cohesion-page .section-6 .advisers .read-more img{

    float: right;

    padding: 5px;
}

.social-cohesion-page .section-6 .advisers .read-more p{

    float: left;

    text-transform: uppercase;

    font-size: 10px;

}

.social-cohesion-page .section-7{
  background-color: #f6f6f6;
}

.social-cohesion-page .section-7 .featured-article-sec-wrapper{
  line-height: 250px;
}

.social-cohesion-page .section-7 .featured-article-sec{
  padding: 0px 25px 30px 70px;
}

.social-cohesion-page .section-7 .featured-article-sec .title h2{
  font-size: 14px;
  color: #2733cf;
}

.social-cohesion-page .section-7 .featured-article-sec .date p{
  font-family: Montserrat-Light;
  font-size: 12px;
  color: #aaaaaa;
}

.social-cohesion-page .section-7 .archive-btn{
  display: inline-block;
}

.social-cohesion-page .section-7 .archive-btn a{
  font-family: Montserrat-Medium;
  background-color: #2733cf;
  color: #ffffff;
  padding: 18px 45px;
  text-transform: uppercase;
}

.social-cohesion-page .section-7 .archive-btn a:hover{
  text-decoration: none;
}

.social-cohesion-page .section-8 .gallery-sec{
  padding: 0 150px;
}

.social-cohesion-page .section-8 .gallery img{
  width: 100%;
}

.social-cohesion-page .section-8 .lSAction > a{
  top: 145%;
  width: 108px;
  color: #5d5d5d;
  font-size: 10px;
}

.social-cohesion-page .section-8 .lSAction > a:hover{
  text-decoration: none;
}

.social-cohesion-page .section-8 .lSSlideOuter .lSPager.lSGallery li{
  opacity: 0.5;
}

.social-cohesion-page .section-8 .lSSlideOuter .lSPager.lSGallery li.active{
  opacity: 1;
}

.social-cohesion-page .section-8 .lSAction > .lSNext{
  text-align: right;
}

.social-cohesion-page .section-8 .lSAction > .lSPrev{
  left: 0;
}

.social-cohesion-page .section-8 .gal-slider-pre{
  display: inline-block;
}

.social-cohesion-page .section-8 .gal-slider-pre-text{
  display: inline-block;
  margin-left: 10px;
}

.social-cohesion-page .section-8 .gal-slider-next{
  display: inline-block;
}

.social-cohesion-page .section-8 .gal-slider-next-text{
  display: inline-block;
  margin-right: 10px;
}

/****************** social cohesion page end *****************/


/****************** artical inner pages *****************/

.article-pagination .page-numbers{
  list-style: none;
  padding: 0;
}

.article-pagination .page-numbers li{
  display: inline-block;
}

/****************** artical inner pages end *****************/

.single-article{
  padding-top: 50px;
}

.single-article .article-img img{
  width: 100%;
}

/*
******** Footer Styles ***************
*/

.footer-section{

  background-color: #080a36;

}
.footer-section .social-icons .fb a{
  background: url(../images/fb.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .fb a:hover{
  background: url(../images/fb-hover.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .ytube a{
  background: url(../images/ytube.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .ytube a:hover{
  background: url(../images/ytube-hover.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .twitter a{
  background: url(../images/twitter.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .twitter a:hover{
  background: url(../images/twitter-hover.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .instagram a{
  background: url(../images/instagram.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons .instagram a:hover{
  background: url(../images/instagram-hover.png) no-repeat center center;
  background-size: 100%;
}
.footer-section .social-icons a{
  width: 45px;
  height: 45px;
  float: left;
  padding: 0 15px;
}

.footer-section .social-icons ul{

  list-style: none;

  text-align: center;

  padding: 50px 15px;

  margin-bottom: 0;
  width: 225px;
  margin: 0 auto;

}

.footer-section .social-icons ul li{

/*  display: inline;

  *display:inline;*/

  padding: 0 10px;
  float: left;

}

.footer-section .contact-details ul{

  list-style: none;

  text-align: center;

  padding-bottom: 15px;

  padding-left: 0px;

  padding-top: 30px;

}

.footer-section .contact-details ul li{

  display: inline-block;

  *display:inline-block;

  padding: 0 11px;

}

.footer-section .contact-details p{

  color: #70b120;

  text-transform: uppercase;

}

.footer-section .contact-details a{

  color: #70b120;

}

.footer-section .contact-details a:hover{
  text-decoration: none;
}

.footer-section .copy-right-sec{

  text-align: center;

}

.footer-section .copy-right-sec p{

  font-family: Montserrat-ExtraLight;

  color: #84859b;

}

.footer-section .wad-logo{

  text-align: center;

  padding: 30px 15px;

}

/*
******** Footer Styles End ***************
*/

